.container,
.content {
  margin-top: 1em;
  line-height: 2;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-left: 2px;
}

#background-wrap {
  background-color: white;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  min-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  z-index: -1;
}

rect {
  fill-opacity: 0.2;
}

body {
  font-family: "Lora", serif;
  text-rendering: optimizeLegibility;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 80px;
  width: 100vw;
  height: 100vh;
}

body a {
  font-style: oblique;
  font-weight: 500;
}

.header {
  padding-top: 1.5em;
  margin-bottom: 1.5em;
}

.footer {
  text-align: center;
  font-size: 0.5em;
}

.nav-item {
  font-size: 18px;
  margin-right: 35px;
}

.nav-item .nav-link {
  padding: 16px 0px 0px 0px;
}

@media (max-width: 768px) {
  .nav-item .nav-link {
    padding: 0px 0px 0px 0em;
  }
}
.nav-item .logo {
  font-size: 1.9em;
  font-weight: 500;
  font-style: normal;
  color: #252525;
}

.nav-item .logo:hover {
  text-decoration: none;
}

@media (max-width: 768px) {
  .nav-item {
    margin-right: 35px;
  }

  #logo_block {
    display: block;
    width: 100%;
  }
}
.content {
  max-width: 900px;
}

.content a {
  margin-right: 2px;
}

.kana {
  font-size: 0.95em;
  font-weight: 500;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-right: 0px;
}

.container .project {
  position: relative;
  margin-right: 15px;
  margin-bottom: 30px;
  border: 1px solid rgba(25, 25, 25, 0.75);
  border-radius: 2px;
  max-height: 182px;
}

.container .project a {
  text-decoration: none;
}

.container .project .thumb {
  width: 100%;
  padding-left: 3px;
  color: #252525;
  font-style: normal;
  font-size: 0.9em;
  line-height: 1.4;
}

.container .project img {
  width: 100%;
  display: block;
}

.container .project .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 89%;
  width: 100%;
  opacity: 0;
  transition: 0.9s ease;
  z-index: 10;
}

.container .project:hover .overlay {
  opacity: 0.9;
}

@media (max-width: 415px) {
  .container {
    padding-left: 5%;
  }

  .container .project:hover .overlay {
    opacity: 0;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}
.container > .project {
  filter: drop-shadow(1px 1px 2px rgba(25, 25, 25, 0.75));
}

.label {
  position: relative;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.8);
}

.hidden {
  display: none;
}

.text {
  color: white;
  background-color: transparent;
  font-size: 17px;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 9%;
  left: 0%;
  text-align: center;
}

@media (max-width: 345px) {
  .type {
    visibility: hidden;
  }
}
.col-7,
.col-11 {
  padding-left: 0px;
}

.pic {
  padding-top: 5px;
  margin-left: 20px;
  height: 40%;
  filter: drop-shadow(0px 0px 2px rgba(25, 25, 25, 0.15));
  float: right;
  width: 40%;
}

@media (max-width: 768px) {
  .pic {
    margin-left: 0px;
    width: 95%;
    max-width: 338px;
    height: auto;
    display: block;
    float: none;
    padding-bottom: 22px;
  }
}
#carouselvideo {
  max-width: 1000px;
  width: 89%;
}

.carousel-item {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.carousel-item iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#indicators {
  max-width: 1000px;
}

.carousel-indicators {
  position: relative;
  margin-top: 5px;
}

.carousel-indicators li {
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background-color: grey;
}

@media (max-width: 340px) {
  .text {
    font-size: 16px;
    padding-top: 5%;
  }

  #carouselvideo {
    width: 100%;
  }
}
.carousel-control-prev,
.carousel-control-next {
  height: 45%;
  margin-top: 16%;
}

.project-img {
  width: 50%;
  float: right;
  padding-left: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  filter: drop-shadow(0px 0px 2px rgba(25, 25, 25, 0.15));
}

@media (max-width: 768px) {
  .project-img {
    float: none;
    width: 90%;
    padding-left: 0px;
    padding-bottom: 20px;
  }
}
.project-img-center {
  width: 100%;
  max-width: 900px;
  padding-bottom: 20px;
  padding-top: 10px;
  filter: drop-shadow(0px 0px 2px rgba(25, 25, 25, 0.15));
}

.title {
  font-weight: 700;
}

/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */
/*# sourceMappingURL=styles.scss.map */

/*# sourceMappingURL=styles.css.map */
